* {
  box-sizing: border-box;
}
body,
html {
  background-color: rgb(128, 128, 128);
  text-align: center;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  background-color:rgb(128, 128, 128);
  /*color: rgb(55, 56, 51);*/
  padding: 0px;
  margin: 0px;
  /* text-align: left; */
  width: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100px;
}
header h1 {
  /* background-color: rgb(255, 0, 0); */
  color: white;
  left: -10%;
  width: 50%;
  padding: 20px;
  margin: 0px;
  font-size: 1.8em;
  /* height: 75px; */
  position: relative;
}

.mainMenu {
  position: relative;
  /* background-color: rgb(218, 203, 0); */
  padding: 20px;
  top: -75px;
  width: 50%;
  left:50%;
  z-index: 1;
}
.items{
  top: 0px;
  width: 100%;
}
nav ul {
  white-space: nowrap;
  max-width: 800px;
  margin: 0px auto;
  padding-inline-start: 0;
}
nav li {
  display: inline-block;
  width: 25%;
  font-size: 1.6vw;
}
nav li a {
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-size: 1em;
}
nav li a:hover {
  background-color: rgb(224, 41, 41);
  color: black;
  padding: 12px;
  margin: 0px;
}
main {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 10px;
  box-sizing: border-box;
  /* background-color:rgb(44, 218, 0); */
  
}

.home {
  position: relative;
  top: 105px;
  max-height: 1024px;
  /* background-color: rgb(0, 140, 255); */
  font-size: 12px;
  /* color: rgb(0, 255, 76); */
  /* text-align: left; */
  padding: 0px;
  margin: 20px auto;
  min-height: 1024px;
  
}
#line {
  background-color: white;
  position: relative;
  width: 50%;
  height: 1px;
  top: 90px;
  color: white;
}
#myTitle {
  position: relative;
  text-align: right;
  font-size: 1.6vw;
}
#vidContainer {
  position: relative;
  top: 0px;
  width: 100%;
  height: 800px;
}
#homeVideo1 {
  width: 35%;
  opacity: 100%;
  position: relative;
}
#homeVideo2 {
  
  width: 35%;
  opacity: 100%;
  position: relative;
}
#homeVideo3 {
  
  width: 35%;
  opacity: 100%;
  position: relative;
}
#homeVideo4 {
  
  width: 35%;
  opacity: 100%;
  position: relative;
}
.workText {
  position: relative;
  top: 0px;
  margin: 12px;
  font-size: 64px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}
#myName {
  position: relative;
  top:150px;
  margin: 0px auto;
  padding: 0px;
  color: rgb(255, 255, 255);
  /* font-size: clamp(8rem, -0.875rem + 8.333vw, 3.5rem); */
  font-size: 12vw;
  /* width: 1280px; */
  font-weight: bold;
  line-height: 100px;
}
#mySurname {
  position: relative;
  top:100px;
  margin: 0px auto;
  padding: 0px;
  color: rgb(0, 0, 0);
  font-size:15vw;
  /* width: 1280px; */
  font-weight: bold;
}
#works {
  position: relative;
  top:-200px;
}
.works {
  min-height: 1080px;
  background-color: rgb(24, 24, 24);
  /* background-color: rgb(209, 0, 0); */
  font-size: 12px;
  color: white;
  position: relative;
  top: 90px;
  height: 2000px;
}
#realTimeContainer {
  background-color: lawngreen;
  width: 70%;
  height: 512px;
  position: relative;
  margin: 0 auto;

}
/* #imgContainer {
  position: relative;
  width: 100%;
  text-align: center;
} */
#workText {
  text-align: left;
  font-size: 1.25vw;
  margin: 0px;
  position: relative;
  padding: 20px;
  top: 10px;
  left: 5%;
  width: 50%;
}
.about {
  min-height: 1024px;
  background-color: rgb(24, 24, 24);
  font-size: 12px;
  color: white;
  position: relative;
  top: 90px;
}
.about h1 {
  position: relative;
  display: block;
  margin: 12px;
  top: 60px;
  left: 10%;
  width: 120px;
  font-size: 34px;
  text-align: left;
}
.about p {
  text-align: left;
  position: relative;
  display: block;
  margin: 12px;
  left: 10%;
  top: 90px;
  width: 70%;
  font-size: 16px;
  font-family: monospace;
  line-height: 2em;
}
.contact {
  min-height: 256px;
  background-color: rgb(24, 24, 24);
  font-size: 12px;
  color: white;
  position: relative;
}
.contact h1 {
  position: relative;
  display: block;
  margin: 12px;
  top: 20px;
  left: 10%;
  width: 120px;
  font-size: 34px;
  text-align: left;
}
.contact p {
  position: relative;
  margin: 12px;
  width: 120px;
  top: 20px;
  left: 10%;
  font-size: 16px;
  text-align: left;
  font-family: monospace;
}
.contact p a {
  text-decoration: none;
  color: grey;
}
footer {
  position: relative;
  text-align: center;
  padding: 50px;
  top: 15px;
  color: white;
  background-color: rgb(34, 34, 34);
  font-size: 9px;
  font-family: monospace;
}
canvas {
  position: relative;
  display: inline-block;
  outline:0;
  width: 100%;
  height: 100%;
}

* {
  /* disable on touch highlights of html elements, especially on mobile! */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
