@font-face {
  font-family: 'MonoBold';
  src: url('./src/fonts/RobotoMono-Bold.ttf')format('truetype');
  font-family: 'MonoRegular';
  src: url('./src/fonts/RobotoMono-Regular.ttf')format('truetype');
  font-family: 'MonoThin';
  src: url('./src/fonts/RobotoMono-Thin.ttf')format('truetype');
}
#root {
  
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  
}
body,html {
  background-color: #262626;
  margin: 0 auto;
  font-family: "MonoRegular";
  padding: 0;
  height: 100%;
}
h1 {
  margin: 0;
  padding: 0;
  width: 100px;
}
.os {
  text-align: center;
  width: 100px;
  margin: 60px;
}
.buttonNav{
  text-align: center;
  width: 100px;
  margin: 60px;
}
.containerNav{
  width: 100%;
  height: 64px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: black;
  position: fixed;
  z-index: 1;
}

